@font-face {
  font-family: "iconfont"; /* Project id 3971921 */
  src: url('iconfont.woff2?t=1679661124850') format('woff2'),
       url('iconfont.woff?t=1679661124850') format('woff'),
       url('iconfont.ttf?t=1679661124850') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aixin:before {
  content: "\e629";
}

.icon-aixin1:before {
  content: "\e6bb";
}

.icon-dadianhua:before {
  content: "\e69b";
}

.icon-shezhi:before {
  content: "\e607";
}

.icon-home:before {
  content: "\e653";
}

.icon-WiFi:before {
  content: "\e62c";
}

.icon-tuite:before {
  content: "\e627";
}

