.conturn{
    background-color:antiquewhite;;
    width: 200px;
    height: 200px;
    position: relative;
}
body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.conturn div{
    background:rgb(222, 18, 100);
    width: 40%;
    height: 40%;
    border-radius: 50%;
    position: absolute;
    animation: loading 2s ease infinite;

}
@keyframes loading{
    0%,100%{
        transform:translate(0,0);
    }
    25%{
        transform: translate(150%,0);
    }
    50%{
        transform: translate(150%,150%);


    }
    75%{
        transform: translate(0,150%);

    }
}
.conturn :first-child
{
    background-color: rgb(222, 18, 100);
    
}
.conturn :nth-child(2)
{
    background-color: rgb(22, 187, 237);
    animation-delay:-0.5s;
}
.conturn :nth-child(3)
{
    background-color: blue;
    animation-delay:-1s;
}
.conturn :last-child
{
    background-color: rgb(77, 42, 165);
    animation-delay:-1.5s;
}